@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Page */

.page {
    display: grid;
    grid-template-rows: min-content 1fr min-content;

    min-height: 100vh;
    
    font-family: "Inter", sans-serif;
    background-color: #2e2e2e;
}